<div class='activity-plans-wrapper'>
  <div class='container activity-plans-container'>
    <div class='start-message'>
      朝活スタートボタンが押下されました！<br>
      本日の自動ツイートは行われません。<br>
      <br>
      次に朝活の内容を投稿してみましょう！<br>
    </div>
    <div class='post-select-button'>
      <%= link_to '投稿をスキップする', morning_activity_results_path(month: Date.current), class: 'btn btn-primary post-skip-button' %>
      <%= link_to '投稿する', "https://twitter.com/share?text=今から朝活で下記の内容を行います。%0a・%0a&url=http://52.195.4.183/&hashtags=朝活,アサカツ", onClick: "window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;", rel: 'nofollow', class: 'btn btn-primary twitter-link' %>
      </div>
    </div>
  </div>
</div>
