//index画面のスタイル
.mypage-content-frame {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 10px;
}

.mypage-content-headding {
  margin-bottom: 20px;
}

.picture-preview {
  @media screen and (max-width: 896px) {
    width: 350px;
    height: 250px;
  }
  @media screen and (max-width: 480px) {
    width: 200px;
    height: 200px;
  }
}

//delete_confirm画面(アカウント削除確認)のスタイル
.delete-confirm-text {

  //テキストの上と下(ボタン)の間隔調整
  padding: 20px;

  //フォントサイズ(レスポンシブ対応)
  font-size: 2rem;
  @media screen and (max-width: 800px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.9rem;
  }
}

//ボタンとボタンの間隔調整
.delete-button {
  margin: 5px;
}

.cancel-button {
  margin: 5px;
}

//delete-completed画面(アカウント削除完了)のスタイル
.delete-completed-message {
  padding-top: 50px;

  //フォントサイズ(レスポンシブ対応)
  font-size: 2rem;
  @media screen and (max-width: 800px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.9rem;
  }
}
