<div class='site-wrapper'>
  <div class='container'>
    <div class='top-inner-text text-center'>
      <div class='site-introduction'>
        <p>
        朝の時間を有効活用したい人が、<br>
        Twitterと連携して、<br>
        朝活を習慣づけるためのアプリ。<br>
        </p>
      </div>
      <div class='login-button'>
        <%= link_to 'Twitterログイン', auth_at_provider_path(provider: :twitter), class: 'button-link' %>
      </div>
    </div>
  </div>
</div>
