<div class='account-delete-completed-wrapper'>
  <div class='container'>
    <div class='delete-completed-message'>
      アカウントは正常に削除されました。<br>
      ご利用頂きありがとうございました。<br>
      再度サービスを開始する場合は、<br>
      Twitterログインをお願いします。<br>
    </div>
  </div>
</div>
