<div class='account-delete-confirm-wrapper'>
  <div class='container'>
    <h1 class='page-headding'>
      アカウント削除
    </h1>
    <div class='page-body'>
      <div class='delete-confirm-text'>
        削除手続きをされますと、<br>
        アプリをご利用できなくなります。<br>
        削除してよろしいでしょうか？<br>
      </div>
      <div class='delete-confirm-buttons'>
        <%= link_to 'キャンセル', account_path, class: 'btn btn-primary cancel-button' %>
        <%= link_to '削除する', account_path, method: :delete, class: 'btn btn-primary delete-button' %>
      </div>
    </div>
  </div>
</div>
